.serviceContainer {
    gap: 3vw;
    height: 100vh;
    position: relative;
    margin-top: 200px;
    background-color: white;
    z-index: 1;
    padding-left: 200px;
    font-size: 36px;
    padding-right: 200px;
}